{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}My profile{% endblock %}

{% block content %}

<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form" style="background-image: linear-gradient(to top left, rgb(244, 190, 172), whitesmoke);">
        <h1 class="text-center" style="font-size: larger;">Hi {{ user }} </h1>
        <p class="text-center" style="font-size: medium;">It seems you haven't got a profile. Add one here.</p>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary" mt-2>Create Profile</button>
        </div>
    </form>
</div>


{% endblock %}