{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Task{% endblock %}

{% block content %}
{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Add Task to {{project.title}}</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary" mt-2>Create Task</button>
        </div>
    </form>
</div>
{% endblock %}
