
{% extends 'base.html' %}

{% block title %}Task Details - {{task.title}}{% endblock %}

{% block content %}
<h1 class="text-center">{{task.project}}</h1>
<h2 class="text-center">{{task.title}}</h2>
<p class="text-center small-text">Status : {{task.status}} </p>
<p class="text-center small-text">Assigned to {{task.assigned_to}} by {{task.user}}</p>

{% if request.user == task.assigned_to %}
<div class="text-center">
    <form method="POST" action="{% url 'edit_task_status' pk=task.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Status</button>
    </form>
</div>
{% endif %}

{% if request.user == task.user %}
    <div class="text-center">
        <a class='btn btn-primary' href="{% url 'edit_task' task.id %}">Edit</a>
        <a class='btn btn-primary' href="{% url 'delete_task' task.id %}">Delete</a>
    </div>
{% endif %}

<div class="container">
    <div class="description p-3">
    <h2>Task description : </h2>
    <p>{{task.description}}</p>
    <p class="small-text">Deadline {{task.deadline|date:"Y-m-d" }}</p>
        </div>
    

</div>
{% endblock %}