
{% extends 'base.html' %}

{% block title %}Task Details - {{task.title}}{% endblock %}

{% block content %}

{% if request.user == task.assigned_to %}

{% if task.status == 'To do' %}

<div class="todo">
    <a href="{% url 'project_detail' pk=task.project.pk %}"><h1 class="text-center">{{task.project}}</h1></a>
    <h2 class="text-center" style="font-size: medium;">{{task.title}}</h2>
    <p class="text-center small-text">Assigned to {{task.assigned_to}} by {{task.user}}</p>
    <div class="text-center">
        <form method="POST" action="{% url 'edit_task_status' pk=task.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Update Status</button>
        </form>
    </div></div>

{% endif %}

{% if task.status == 'In progress' %}

<div class="inprogress">
    <a href="{% url 'project_detail' pk=task.project.pk %}"><h1 class="text-center">{{task.project}}</h1></a>
    <h2 class="text-center" style="font-size: medium;">{{task.title}}</h2>
    <p class="text-center small-text">Assigned to {{task.assigned_to}} by {{task.user}}</p>
        <div class="text-center">
            <form method="POST" action="{% url 'edit_task_status' pk=task.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Update Status</button>
            </form>
        </div>
    </div>

{% endif %}

{% if task.status == 'Done' %}

<div class="done">
    <a href="{% url 'project_detail' pk=task.project.pk %}"><h1 class="text-center">{{task.project}}</h1></a>
    <h2 class="text-center" style="font-size: medium;">{{task.title}}</h2>
    <p class="text-center small-text">Assigned to {{task.assigned_to}} by {{task.user}}</p>
        <div class="text-center">
            <form method="POST" action="{% url 'edit_task_status' pk=task.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Update Status</button>
            </form>
        </div>
    </div>
{% endif %}

{% else %}

<div>
    <a href="{% url 'project_detail' pk=task.project.pk %}"><h1 class="text-center">{{task.project}}</h1></a>
    <h2 class="text-center" style="font-size: medium;">{{task.title}}</h2>
    <p class="text-center small-text">Assigned to {{task.assigned_to}} by {{task.user}}</p>
</div>

{% if request.user == task.user %}
    <div class="text-center">
        <a class='btn btn-primary' href="{% url 'edit_task' task.id %}">Edit Task</a>
        <a class='btn btn-primary' href="{% url 'delete_task' task.id %}">Delete Task</a>
    </div>
{% endif %}
{% endif %}
<div class="container">
    <div class="description p-3">
    <h2>Task description : </h2>
    <p>{{task.description}}</p>
    <p class="small-text">Deadline {{task.deadline|date:"Y-m-d" }}</p>
        </div>
</div>



{% endblock %}