{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="welcome-container">
    <div class="motivation">
        <h1 class="welcome-text">Hello {{user}} ! </h1>
        <p class="welcome-text" style="font-size: medium;">{{ random_motivation }}</p>
    </div>
</div>

{% else %}
<div class="welcome-container">
    <div class="motivation">
        <h1 class="welcome-text">Hi and welcome to Project Management Tool! </h1>
        <p style='font-size: medium;' class="welcome-text">This tool will help you and your team organize your work!</p>
        <strong class="welcome-text">Task Management</strong>
        <p class="welcome-text">Create, assign, and prioritize tasks with ease. Track progress and deadlines to ensure
            success.</p>
        <strong class="welcome-text">Team Collaboration</strong>
        <p class="welcome-text">Foster collaboration with information about projects and tasks. Keep everyone on the
            same page.</p>
        <strong class="welcome-text">Resource Planning</strong>
        <p class="welcome-text">Allocate resources efficiently by choosing the right profile for your projects.</p>
        <strong class="welcome-text">Project Tracking</strong>
        <p class="welcome-text">Monitor project and tasks timelines. </p>
        <p style="font-size: large;" class="welcome-text">Please <a href="{% url 'account_signup' %}"
                style="text-decoration: underline;"> sign up </a> or <a href="{% url 'account_login' %}"
                style="text-decoration: underline;"> login </a> to continue!</p>
    </div>
</div>
{% endif %}

{% endblock %}