{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1 class="text-center p-2">My Tasks</h1>
<div class="container d-flex flex-column flex-wrap justify-content-center">
    
  {% for task in tasks %}
  {% if task.status == 'In progress' or task.status == 'To do' %}
     <div class="tasks"> 
      <a class='task-list' href="{% url 'task_detail' task.id %}">{{ task.project }} 
      </a>
      <a class='task-list' href="{% url 'task_detail' task.id %}">{{ task.title }}
      </a>
      
      {% if task.status == 'To do' %}
      <a class="task-list-status" style="background-color: rgb(104, 192, 145);">
      {{task.status}}
      </a>
      {% endif %}

      {% if task.status == 'In progress' %}
      <a class="task-list-status" style="background-color: rgb(246, 189, 96);">
      {{task.status}}
      </a>
      {% endif %}
      <a class="task-list-status" style="font-size: smaller;">
        {{task.deadline|date:"Y-m-d"}}
        </a>
      </div>
  {% endif %}
  {% endfor %}
    {% for task in tasks %}

    {% if task.status == 'Done' %}
    <div class="tasks" style="background-color: lightgrey; color: gray;">
      <a class='task-list' style="background-color:lightgrey; color: gray;" href="{% url 'task_detail' task.id %}">{{ task.project }} 
      </a>
    <a class='task-list' style="background-color:lightgrey; color: gray;" href="{% url 'task_detail' task.id %}">{{ task.title }}
    </a>

    <a class='task-list-status' style="background-color:lightgrey; color: gray;" href="{% url 'task_detail' task.id %}">{{task.status}}
    </a>

    <a class="task-list-status" style="background-color:lightgrey; color: gray; font-size: smaller;">
      {{task.deadline|date:"Y-m-d"}}
      </a>
</div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}