{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1 class="text-center p-2">My Tasks</h1>
<div class="container d-flex flex-column flex-wrap justify-content-center">
    
    {% for task in tasks %}
    <a class='tasks' href="{% url 'task_detail' task.id %}" aria-label="Click to view {{task.title}}">
        
            <div class="task-list">
              <h4>{{task.project}}</h4></div>
              <div class="task-list">
              <p>{{task.title}}</p></div>
              <div class="task-list">
              <p>{{task.description}}</p></div>
              <div class="task-list">
              <p>{{task.deadline}}</p></div>
            
        
    </a>
    {% endfor %}
</div>
{% endblock %}