{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h3 class="text-center p-2">My Tasks</h3>
<div class="container d-flex flex-column flex-wrap justify-content-center">
    
    {% for task in tasks %}
    <a class='tasks' href="{% url 'task_detail' task.id %}" aria-label="Click to view {{task.title}}">
        
        <div class="task-list">
          <h5>Project : {{task.project}}</h5></div>
          
          <div class="task-list">
          <p>Task : {{task.title}}</p></div>

          {% if task.status == 'To do' %}
          <div class="task-list-status" style="background-color: rgb(104, 192, 145);">
          <p>Status : {{task.status}}</p>
          </div>
          {% endif %}

          {% if task.status == 'In progress' %}
          <div class="task-list-status" style="background-color: rgb(246, 189, 96);">
          <p>Status : {{task.status}}</p>
          </div>
          {% endif %}

          {% if task.status == 'Done' %}
          <div class="task-list-status" style="color: gainsboro;">
          <p>Status : {{task.status}}</p>
          </div>
          {% endif %}
          
          {% if task.status == 'Done' %}
          <div class="task-list-status" style="text-decoration: line-through;">
          <p>Deadline : {{task.deadline|date:"Y-m-d"}}</p></div>
          {% else %}
          <div class="task-list">
            <p>Deadline: {{task.deadline|date:"Y-m-d" }}</p></div>
          {% endif %}


    </a>
    {% endfor %}
</div>
{% endblock %}