{% extends 'base.html' %}

{% block title %}Delete Profile {{object.title}}{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-2">Confirm Profile Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="POST" class="text-center">
            {% csrf_token %}
            <p>Are you sure you want to delete {{profile.first_name}}?</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-25">
            <a class='btn btn-primary w-25', href="{% url 'profile_detail' profile.id %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}