{% extends 'base.html' %}

{% block title %}Profiles{% endblock %}

{% block content %}
<h1 class="text-center p-2">Profiles</h1>
<div class="container d-flex flex-column flex-wrap justify-content-center">
    
    {% for profile in profiles %}
    <a href="{% url 'profile_detail' profile.id %}" aria-label="Click to view {{profile.first_name}}">
        <div class="m-3" style="width: 18rem;">
            <div class="profiles">
              <h4 class="profiles-list">{{profile.first_name}}</h4>
              <p class="profiles-list">{{profile.job_title}}</p>
            </div>
          </div>
    </a>
    {% endfor %}
</div>

{% endblock %}