{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}My profile{% endblock %}

{% block content %}

<h1 class="text-center p-2">My Profile</h1>

<div class="container d-flex flex-row flex-wrap justify-content-center">

    {% csrf_token %}

    <div class="container">
    <h3 class="text-center">Username: {{user.username}}</h3>
    {{ form|crispy }}
    <div class="text-center">
        <button type="submit" class="btn btn-primary" mt-2>Create Profile</button>
     <button type="submit" class="btn btn-primary">Edit Profile</button>
    </div>
</div>
</div>
{% endblock %}