{% extends 'base.html' %}

{% block title %}Profiles{% endblock %}

{% block content %}
<h1 class="text-center p-2">Profiles</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    
    {% for profile in profiles %}
    <a class='profiles' href="{% url 'profile_detail' profile.id %}" aria-label="Click to view {{profile.first_name}}">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title">{{profile.first_name}}</h2>
              <p class="card-text">{{profile.bio}}</p>
            </div>
          </div>
    </a>
    {% endfor %}
</div>

{% endblock %}