{% extends 'base.html' %}

{% load static %}

{% block title %}Profile Details - {{project.title}}{% endblock %}

{% block content %}
<div class="container" style='d-flex justify-content:center;'>

    <div class="project_info mt-3 p-1"></div>

    <div class="profile-detail pb-2">
        <div class=" profile-detail-image-container d-md-block col-md-6 masthead-image">
            {% if "placeholder" in profile.featured_image.url %}
            <img class="profile-pic card-img-top" src="{% static 'images/default.jpg' %}"
              alt="placeholder image">
            {% else %}
            <img class="profile-pic card-img-top" src=" {{ profile.featured_image.url }}"
              alt="{{ profile.title }}">
            {% endif %}
        </div>
        <div class="profile-text">
        <h1>{{profile.first_name}} {{profile.last_name}}</h1>
        <p>{{profile.job_title}}</p>
        </div>
    </div>
    
    <div class="project_container">
        <div class="description p-3 mt-5">
            <h2>Bio</h2>
            <p>{{profile.bio}}</p>
    </div>
    {% if request.user == profile.user %}
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'edit_profile' profile.id %}">Edit Profile</a>
            <a class="btn btn-primary" href="{% url 'delete_profile' profile.id %}">Delete Profile</a>
        </div>
        {% endif %}
</div>
{% endblock %}