{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <h1 class="text-center p-2">Latest Projects</h1>

    {% for project in projects %}
    <a class='projects' href="" aria-label="Click to view {{project.title}}">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
              <h2 class="card-title">{{project.title}}</h2>
              <p class="card-text">{{project.description}}</p>
            </div>
          </div>
    </a>
    {% endfor %}
</div>

{% endblock %}