{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1 class="text-center p-2">My Projects</h1>
<p class="text-center" style="font-size: medium;">Projects I created or that have tasks assigned to me.</p>
<div class="container d-flex flex-row flex-wrap justify-content-center align-items-center">

  {% for project in projects %}

  <a class='projects' href="{% url 'project_detail' project.id %}" aria-label="Click to view {{project.title}}">
    <div class="card m-3" style="width: 20rem; height: 10rem;">
      <div class="text-center card-body" style="display: flex; flex-direction: column;">
        <h4 class="card-title">{{project.title}}</h4>
        <p class="card-title" style="font-size: smaller;">Project Deadline : {{project.deadline|date:"Y-m-d"}}</p>
        <div>
          {% if project.done_task_count == project.task_set.count and project.task_set.count != 0 %}
          <div class="alltasksdone">
            <h5>Project done</h5>
          </div>
          
          {% elif project.task_set.count == 0 %}
          <div>
            <h5>No tasks created for this project
          </h5></div>
          
          {% else %}
          <div class="projectinprogress">
            <h5>{{ project.done_task_count }} out of {{ project.task_set.count }} tasks are done
          </h5></div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
  {% endfor %}

</div>

{% endblock %}