{% extends 'base.html' %}

{% block title %}Project Details - {{project.title}}{% endblock %}

{% block content %}
<div class="container">
    <div style="display: flex; justify-content: center;">
    <div class="project_detail">
        <h1 class="text-center titles">{{project.title}}</h1>
        <p class="text-center small-text">Created by {{project.user}} on {{project.created_on.date}}</p>
        {% if request.user == project.user %}
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'edit_project' project.id %}">Edit Project</a>
            <a class="btn btn-primary" href="{% url 'delete_project' project.id %}">Delete Project</a>
        </div>
        {% endif %}   
    </div>
    </div>
    
    <div class="project_container">
        <div class="description p-3">
            <h2>Project-description</h2>
            <p>{{project.description|safe}}</p>
        </div>
        
        <div class="description p-3" >
            <p class="small-text">Deadline : {{project.deadline|date:"Y-m-d"}}</p>
        </div>
        
        <div class="description p-3">
            <h3 class="titles">{{project.title}}'s tasks:</h3>
            <a class='btn btn-primary' href="{% url 'add_task' project.id %}">Add Task</a>
            

                {% for task in project.task_set.all %}
                {% if task.status == 'To do' %}
                   <div class="tasks" style="background-color: rgb(159, 200, 190);" > 
                    <a class='task-list' href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(159, 200, 190);">{{ task.title }}
                    </a>
                    <a class='task-list' href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(159, 200, 190);">{{ task.assigned_to }}
                    </a>
                    <a class="task-list-status" href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(159, 200, 190);">
                    {{task.status}}
                    </a>
                    <a class="task-list-status" href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(159, 200, 190);">
                        {{task.deadline|date:"Y-m-d"}}
                        </a></div>
                {% endif %}

                {% if task.status == 'In progress' %}
                    <div class="tasks" style="background-color: rgb(226, 215, 128);" > 
                        <a class='task-list' href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(226, 215, 128);">{{ task.title }}
                        </a>
                        <a class='task-list' href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(226, 215, 128);">{{ task.assigned_to }}
                        </a>
                    
                        <a class="task-list-status" href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(226, 215, 128);">
                        {{task.status}}
                        </a>
                        <a class="task-list-status" href="{% url 'edit_task_status' task.id %}" style="background-color: rgb(226, 215, 128);">
                            {{task.deadline|date:"Y-m-d"}}
                            </a></div>
                {% endif %}
                    
            {% endfor %}
                
                {% for task in project.task_set.all %}

                {% if task.status == 'Done' %}
                <div class="tasks" style="background-color: lightgrey; color: gray;">
                <a class='task-list' style="background-color:lightgrey; color: gray;" href="{% url 'edit_task_status' task.id %}">{{ task.title }}
                </a>

                <a class='task-list' style="background-color: lightgrey; color: gray;" href="{% url 'edit_task_status' task.id %}">{{ task.assigned_to }}
                </a>

                <a class='task-list-status' style="background-color:lightgrey; color: gray;" href="{% url 'edit_task_status' task.id %}">{{task.status}}
                </a>

                <a class="task-list-status" style="background-color:lightgrey; color: gray;" href="{% url 'edit_task_status' task.id %}">
                {{task.deadline|date:"Y-m-d"}}
                </a></div>
            
                {% endif %}
                {% endfor %}
    </div>
        
    </div>
    
</div>

{% endblock %}