@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

    /*Colours*/
    --background : rgb(247, 237, 226);
    --green : rgb(132, 165, 157);
    --pink : rgb(245, 202, 195);
    --light_blue : #c4ebef;
    --orange : rgb(246, 189, 96);
    --darkpink : rgb(242, 132, 130);


    /*Utils*/

    --small-box-shadow : 1px -1px 7px 0 #00000061;
    --border : 1px solid #00000030;

}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 10px;
}
/* Main*/

html, body {
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1 0 auto;
    background-color: var(--background)
}

footer {
    flex-shrink: 0;
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

/* Header */

.navbar {
    background-color: var(--pink);
    box-shadow: var(--small-box-shadow);
}

.nav-link {
    color: black;
}

.member_profiles{
    position: absolute;
    right: 10vw;
    display: flex;
    justify-content: center;
}

.edit_profile {
    padding-right: 20px;
}

.logo {
    width: 80px;
}

.active {
    border-bottom: 2px solid var(--black);
    font-weight: 500;

}
.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

.card {
    border: 1px solid;
    background-color: var(--pink);
    height: 90%;
    margin-top: 1 rem;
}

.projects {
    text-decoration: none;
    color: var(--black);
}

.projects.hover {
    cursor:pointer;
}

.project_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project_container, .task-container {
    display: flex;
    flex-direction: column;

}

.description, project_detail {
    width: 100%;
}

.motivation {
    font-size: medium;
    color: var(--black);
    height: 50vh;
    width: 80vw;
    margin-left: 80px;
}

.btn-primary {
    background-color: var(--orange);
}

.tasks {
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    height: 50px;
}

.task-list, .task-list-status {
    background-color: var(--pink);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    margin: 5px;
    height: 40px;
    text-decoration: none;
    color: var(--black);
    }

.task-list-status {
    justify-content: center;
    }

.profiles-container {
    flex-direction: column;
}

.profiles {
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #000;
    border: 1px solid;
    border-radius: 20px;
    margin: 5px;
    height: 50px;
}

.profiles-list {
    background-color: var(--pink);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    height: 40px;
    }

.profile-detail {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.image_container{
    width: 20px;
    height: 20px;
}

.welcome-text{
    margin-top: 80px;
    margin-left: 80px;
}

.small-text {
    font-size: smaller;
}

.image-container {
    margin-right: 20px;
    width: 10vw;
    height: 10vh;
}