{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt='Red dot logo' class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!---Navigation Items-->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only"></span></a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'projects' %}active{% endif %}" href="{% url 'projects' %}" role="button" aria-haspopup="true" aria-expanded="false">
                My Projects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'my_tasks' %}active{% endif %}" href="{% url 'my_tasks' %}" role="button" aria-haspopup="true" aria-expanded="false">
                My Tasks
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if url_name == 'add_project' %}active{% endif %}" href="{% url 'add_project' %}">New Project</a>
            </li>
            <li class="nav-item">
	          <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Sign Out</a></li>
            
            {% else %}
            <li class="nav-item">
	          <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
		        href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
	          <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
            
            {% endif %}
        </ul>
        
        </div>
        {% if user.is_authenticated %}
        <div class="member_profiles"><div>
          <a class="edit_profile nav-link {% if url_name == 'add_profile' %}active{% endif %}" href="{% url 'add_profile' %}">Edit Profile</a>
        </div>
        <div>
          <a class="nav-link {% if url_name == 'profiles' %}active{% endif %}" href="{% url 'profiles' %}" role="button" aria-haspopup="true" aria-expanded="false">
            Members
          </a>
        </div></div>
        {% endif %}
      </nav>
</header>