{% load static %}
{% url 'home' as home_view %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}
    
    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}

    <title>Project Management Tool - {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"
    
</head>
<body>
    {% include 'includes/header.html' %}
    {% if messages %}
        <section id="alerts">
            {% for msg in messages %}
                <!-- all django message tags mirror bootstrap, except error/danger -->
                <aside class="alert {% if msg.tags == 'error' %}alert-danger{% else %}alert-{{ msg.tags }}{% endif %} text-center" role="alert">
                    <h5>{{ msg }}</h5>
                </aside>
            {% endfor %}
        </section>
    {% endif %}
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    
    {% include 'includes/footer.html' %}
    {% block postload_js %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>